<%- include("template/cabecera") %>
  <h1 class="text-center text-primary">PAGINA DE PRODUCTOS</h1>
  <h3 class="text-center text-primary">Listado de Productos</h3>

  <% if (arrayProductos.length>0) { %>
    <table class="table">
      <tr>
        <th>Producto</th>
        <th>Precio Cop</th>
        <th>Precio USD</th>
        <th>Procesador</th>
        <th>RAM</th>
        <th>Disco Duro</th>
        <th>Accion</th>
      </tr>
      <% arrayProductos.forEach(producto=> { %>
        <tr>
          <td>
            <%= producto.nombre %>
          </td>
          <td>
            <%= producto.precio %>
          </td>
          <td>
            <%= producto.precioUSD %>
          </td>
          <td>
            <%= producto.procesador %>
          </td>
          <td>
            <%= producto.ram %>
          </td>
          <td>
            <%= producto.hdd %>
          </td>
          <td>
            <a href="/productos/<%= producto.id %>"><i class="fas fa-pen-alt"></i>/<i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <% }) %>
    </table>
    <% } %>
      <%- include("template/footer") %>